<body
    data-home-page="https://website6327331.nicepage.io/about-me-1.html?version=2f24f1b4-fff8-102f-df50-63dd22cbc98e"
    data-home-page-title="about me 1"
    data-path-to-root="./"
    data-include-products="false"
    class="u-body u-xl-mode"
    data-lang="en"
  >
    <header
      class="u-clearfix u-custom-color-4 u-header u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-header"
      id="sec-dec6"
    >
      <a
        href="./"
        class="u-image u-logo u-image-1"
        data-image-width="500"
        data-image-height="500"
        title="about me 1"
      >
        <img
          src="images/dadabbremovebg-preview.png"
          class="u-logo-image u-logo-image-1"
        />
      </a>
      <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <a
            href="./#carousel_0681"
            class="u-active-none u-border-3 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-none u-none u-radius u-btn-1"
            >Skills
          </a>
          <a
            href="./#carousel_902e"
            class="u-active-none u-border-3 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-none u-none u-radius u-btn-2"
            >projects
          </a>
          <a
            href="./#carousel_c9e4"
            class="u-active-none u-border-3 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-none u-none u-radius u-btn-3"
            >About
          </a>
          <a
            href="https://drive.google.com/file/d/1ZUHDFoImR4xSXzD2vPJIZyE9kZnkv9oJ/view"
            class="u-btn u-btn-round u-button-style u-custom-color-1 u-radius u-btn-4"
            target="_blank"
            previewlistener="true"
            >see my resume
          </a>
        </div>
      </div>
    </header>
    <section class="u-clearfix u-gradient u-section-1" id="sec-7ab1">
      <div
        class="data-layout-selected u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-layout-cell u-size-27-md u-size-27-sm u-size-27-xs u-size-30-lg u-size-30-xl u-layout-cell-1"
            >
              <div
                class="u-container-layout u-valign-bottom-xs u-container-layout-1"
              >
                <h3
                  class="u-align-left u-text u-text-body-alt-color u-text-1"
                  spellcheck="false"
                >
                  Hey, I’m&nbsp;
                </h3>
                <h2
                  class="u-align-left u-text u-text-body-alt-color u-text-2"
                  data-animation-name="customAnimationIn"
                  data-animation-duration="1250"
                  data-animation-delay="750"
                >
                  Abdelrahman<br />Kamal
                </h2>
                <h3
                  class="u-align-left u-text u-text-body-alt-color u-text-3"
                  spellcheck="false"
                >
                  Software Engineer
                </h3>
                <p
                  class="u-align-left u-text u-text-default-lg u-text-default-xl u-text-palette-5-light-2 u-text-4"
                >
                  get in touch<br />
                </p>
                <div class="u-container-style u-group u-group-1">
                  <div class="u-container-layout">
                    <span
                      class="u-file-icon u-icon u-icon-1"
                      data-href="https://github.com/Abdelrahman776"
                      data-target="_blank"
                      ><img src="images/919847.png" alt=""
                    /></span>
                    <div class="u-social-icons u-spacing-20 u-social-icons-1">
                      <a
                        class="u-social-url"
                        target="_blank"
                        data-type="Custom"
                        title="Custom"
                        href="https://www.linkedin.com/in/abdelrahmannkamal/"
                        ><span
                          class="u-icon u-social-custom u-social-icon u-text-white u-icon-2"
                          ><svg
                            class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice"
                            viewBox="0 0 512 512"
                            style=""
                          >
                            <use
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              xlink:href="#svg-9a87"
                            ></use></svg
                          ><svg
                            class="u-svg-content"
                            viewBox="0 0 512 512"
                            id="svg-9a87"
                          >
                            <path
                              d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0"
                            ></path></svg
                        ></span>
                      </a>
                    </div>
                    <a
                      href="mailto:abdelrahmannkamal@gmail.com"
                      class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1"
                      ><span class="u-file-icon u-icon u-text-white u-icon-3"
                        ><img src="images/3296467-5b5f8981.png" alt="" /></span
                      >.
                    </a>
                    <a
                      href="tel:+201113324225"
                      class="u-active-none u-border-2 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2"
                      >+201113324225
                    </a>
                  </div>
                </div>
                <a
                  href="https://drive.google.com/file/d/1ZUHDFoImR4xSXzD2vPJIZyE9kZnkv9oJ/view"
                  class="u-active-palette-5-dark-2 u-align-center u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-6 u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-3"
                  data-animation-name="customAnimationIn"
                  data-animation-duration="1500"
                  data-animation-delay="250"
                  target="_blank"
                  >see my resume
                </a>
              </div>
            </div>
            <div
              class="u-container-style u-image u-layout-cell u-radius u-size-30-lg u-size-30-xl u-size-33-md u-size-33-sm u-size-33-xs u-image-1"
              data-image-width="1920"
              data-image-height="1920"
            >
              <div class="u-container-layout u-container-layout-3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="u-align-center u-clearfix u-gradient u-valign-bottom-xs u-section-2"
      src=""
      id="carousel_c9e4"
    >
      <div
        class="custom-expanded data-layout-selected u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-size-33" style="">
              <div class="u-layout-col" style="">
                <div
                  class="u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                >
                  <div class="u-container-layout u-container-layout-1">
                    <h2
                      class="u-align-left u-text u-text-body-alt-color u-text-1"
                      data-animation-name="customAnimationIn"
                      data-animation-duration="1750"
                      data-animation-delay="0"
                    >
                      About me
                    </h2>
                    <p
                      class="u-align-left u-large-text u-text u-text-body-alt-color u-text-variant u-text-2"
                      spellcheck="false"
                    >
                      <br />
                      <br />I am Abdelrahman Kamal, I&nbsp; am a full-stack
                      developer and a multi-skilled Biomedical Software Engineer
                      with a passion for creating web apps and&nbsp; innovative
                      solutions at the intersection of technology and
                      healthcare.&nbsp;<br />
                      <br />
                      <br />Currently, I am pursuing a BSc in Systems and
                      Biomedical Engineering at Cairo University, where I have
                      gained a solid foundation in software development, deep
                      learning,&nbsp; medical devices, and embedded systems.<br />
                      <br />
                      <br />Over the past few years, I've had the opportunity to
                      work in various roles, from&nbsp; a Frontend Development
                      internship, where I honed my skills in making landing
                      pages, web design and version control, To MEAN stack web
                      developer&nbsp; internship&nbsp; at&nbsp; NTI&nbsp; the
                      National telecommunication Institute in Egypt.<br />
                      <br />
                      <br />I am always eager to take on new challenges and am
                      passionate about leveraging technology to solve real-world
                      problems by developing software and creating responsive
                      performant web applications,&nbsp;<br />I am committed to
                      delivering high-quality, impactful solutions.Let's connect
                      and explore how we can collaborate to create innovative
                      technology solutions that make a difference in the world!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-27">
              <div class="u-layout-col">
                <div
                  class="u-container-align-center u-container-style u-image u-image-round u-layout-cell u-radius u-size-60 u-image-1"
                  data-image-width="1083"
                  data-image-height="1920"
                >
                  <div class="u-container-layout u-container-layout-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-gradient u-section-3"
      id="carousel_0681"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2
          class="u-align-center u-text u-text-body-alt-color u-text-default u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="0"
        >
          Skills
        </h2>
        <p
          class="u-align-center u-text u-text-body-alt-color u-text-2"
          spellcheck="false"
        >
          I will take care of your&nbsp;work and provide the value you need.<br />&nbsp;From
          front-end design to back-end coding to database, I have the full stack
          development skills needed to bring your digital vision to life.<br />
        </p>
        <div
          class="custom-expanded u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1"
        >
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="63"
                data-image-height="64"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/html5-badge-h-solo.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-1"
              ></div>
            </div>
            <div
              class="u-effect-fade u-effect-hover-zoom u-gallery-item u-gallery-item-2"
            >
              <div
                class="u-back-slide"
                data-image-width="1452"
                data-image-height="2050"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/CSS3_logo_and_wordmark.svg.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-2"
              ></div>
            </div>
            <div
              class="u-effect-fade u-effect-hover-zoom u-gallery-item u-gallery-item-3"
            >
              <div
                class="u-back-slide"
                data-image-width="400"
                data-image-height="330"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/bootstrap-logo-shadow.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-3"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="224"
                data-image-height="224"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/mui.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-4"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="800"
                data-image-height="800"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/JavaScript-logo.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-5"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="283"
                data-image-height="300"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/angular-icon-logo-5FC0C40EAC-seeklogo.com.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-6"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="150"
                data-image-height="150"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/cplusplus-original.svg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-7"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="150"
                data-image-height="150"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/python-original.svg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-8"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="195"
                data-image-height="183"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/download.jpg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-9"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="1280"
                data-image-height="501"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/Flask_logo.svg.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-10"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="267"
                data-image-height="80"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/nodejsLight.svg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-11"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="225"
                data-image-height="225"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/express.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-12"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="150"
                data-image-height="150"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/mysql-original-wordmark.svg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-13"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="540"
                data-image-height="557"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/elephant.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-14"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="150"
                data-image-height="150"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/mongodb-original-wordmark.svg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-15"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="64"
                data-image-height="64"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f676e755f626173682f676e755f626173682d69636f6e2e737667.svg"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-16"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="225"
                data-image-height="225"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/gitremovebg-preview.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-17"
              ></div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="623"
                data-image-height="800"
              >
                <img
                  class="u-back-image u-expanded u-image-contain"
                  src="images/fa4cd070-6a79-4e1b-b079-8b9b76408595-cover.png"
                />
              </div>
              <div
                class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-18"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="u-align-center u-clearfix u-gradient u-section-4"
      id="carousel_902e"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2
          class="u-align-center u-text u-text-body-alt-color u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="750"
        >
          Featured ​Project​s
        </h2>
        <div
          class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-10">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                  >
                    <div class="u-container-layout u-container-layout-1">
                      <h1
                        class="u-align-left u-text u-text-body-alt-color u-title u-text-2"
                        spellcheck="true"
                      >
                        Computer_Vision_Toolkit
                      </h1>
                      <p
                        class="u-align-left u-large-text u-text u-text-body-alt-color u-text-variant u-text-3"
                        spellcheck="false"
                      >
                        An application that provide various computer vision
                        tools like:<br />canny edge detection.<br />Harris
                        corner detection.<br />Hough line detection.<br />Hough
                        ​ellipse&nbsp;detection.<br />Face Recognition based on
                        eigen faces .
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-10">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-image u-image-contain u-layout-cell u-size-60 u-image-1"
                    data-href="https://github.com/Abdelrahman776/Computer_Vision_Toolkit"
                    data-target="_blank"
                    data-image-width="1093"
                    data-image-height="455"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-2"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="u-size-10">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-size-60 u-layout-cell-3"
                  >
                    <div class="u-container-layout u-container-layout-3">
                      <h1
                        class="u-align-left u-text u-text-body-alt-color u-title u-text-4"
                        spellcheck="true"
                      >
                        Tic-Tac-Toe-Angular
                      </h1>
                      <p
                        class="u-align-left u-large-text u-text u-text-body-alt-color u-text-variant u-text-5"
                        spellcheck="false"
                      >
                        This is a simple Angular application that uses the
                        Angular framework for server-side rendering using
                        Angular Cli. It's a Tic-Tac-Toe game with a simple UI
                        and some basic game logic.<br />
                        <br />The game can be installed on any platform a PWA.
                        try to download it from your browser on desktop.<br />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-10">
                <div class="u-layout-row">
                  <div
                    class="u-container-align-center u-container-style u-image u-image-contain u-layout-cell u-size-60 u-image-2"
                    data-href="https://github.com/Abdelrahman776/Tic-Tac-Toe-Angular"
                    data-target="_blank"
                    data-image-width="694"
                    data-image-height="866"
                  >
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-10">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-size-60 u-layout-cell-5"
                  >
                    <div class="u-container-layout u-container-layout-5">
                      <h1
                        class="u-align-left u-text u-text-body-alt-color u-title u-text-6"
                        spellcheck="false"
                      >
                        Omni Food
                      </h1>
                      <p
                        class="u-align-left u-large-text u-text u-text-body-alt-color u-text-variant u-text-7"
                        spellcheck="false"
                      >
                        the landing page of Omni food a custom meals delivery
                        startup using HTML &amp; CSS
                      </p>
                      <a
                        href="https://omnifood-akamal.netlify.app/"
                        class="u-align-left u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-1"
                        target="_blank"
                        previewlistener="true"
                        >Live Demo
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-10">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-size-60 u-layout-cell-6"
                  >
                    <div class="u-container-layout u-container-layout-6">
                      <h1
                        class="u-align-left u-text u-text-body-alt-color u-title u-text-8"
                        spellcheck="true"
                      >
                        Live-Multichannel-Signal-Monitor
                      </h1>
                      <p
                        class="u-align-left u-large-text u-text u-text-body-alt-color u-text-variant u-text-9"
                        spellcheck="false"
                      >
                        This PyQt-powered application serves as a&nbsp;real-time
                        vital sign monitoring system. It features a polished
                        user interface that offers an intuitive platform for
                        visualizing and analyzing vital signals. This tool
                        empowers users to effortlessly navigate through a
                        diverse array of signals, extracting pertinent
                        information from each, and even provides the flexibility
                        to fine-tune them to precise specifications, delivering
                        a tailored and insightful outcome.
                      </p>
                      <a
                        href="https://github.com/Abdelrahman776/Live-Multichannel-Signal-Monitor"
                        class="u-align-left u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-2"
                        target="_blank"
                        previewlistener="true"
                        >repo link
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1
          class="u-align-left u-text u-text-body-alt-color u-title u-text-10"
          spellcheck="false"
        >
          Real-time Medical Data Monitoring System
        </h1>
        <p
          class="u-align-left u-large-text u-text u-text-body-alt-color u-text-variant u-text-11"
          spellcheck="false"
        >
          This system is designed to simulate the communication between a
          medical device (client) and a server application, storing and
          visualizing vital sign data in real-time. The system comprises three
          main components:<br />Client (Medical Device Simulator): Simulates a
          medical device generating vital sign data and sending it to the
          server.<br />Server: Listens for incoming connections from client
          devices, stores the received data in a Redis database.<br />GUI (Data
          Visualization): Provides a user-friendly interface to visualize and
          search for patient vital sign data stored in Redis.
        </p>
        <a
          href="https://github.com/Abdelrahman776/Real-time-Medical-Data-Monitoring-System"
          class="u-align-left u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-3"
          target="_blank"
          previewlistener="true"
          >repo link
        </a>
        <p
          class="u-align-center u-text u-text-12"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="750"
        >
          <a
            class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
            href="https://github.com/Abdelrahman776?tab=repositories"
            previewlistener="true"
            >Explore all Projects</a
          >
        </p>
      </div>
    </section>

    <footer class="u-clearfix u-footer u-gradient u-footer" id="sec-5ed1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-left u-container-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-1"
              >
                <div class="u-container-layout u-container-layout-1">
                  <h6
                    class="u-align-center u-text u-text-body-alt-color u-text-1"
                  >
                    Email me
                  </h6>
                  <a
                    href="mailto:abdelrahmannkamal@gmail.com"
                    class="u-active-none u-align-center u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1"
                  >
                    abdelrahmannkamal@gmail.com
                  </a>
                </div>
              </div>
              <div
                class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-20 u-size-30-md u-layout-cell-2"
              >
                <div class="u-container-layout u-container-layout-2">
                  <h6
                    class="u-align-center u-text u-text-body-alt-color u-text-2"
                    spellcheck="false"
                  >
                    Call Me<span style="font-weight: 700"></span>
                  </h6>
                  <a
                    href="tel:+201113324225"
                    class="u-active-none u-align-center u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2"
                    >+201113324225</a
                  >
                </div>
              </div>
              <div
                class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-3"
              >
                <div
                  class="u-container-layout u-valign-middle u-container-layout-3"
                >
                  <div
                    class="u-clearfix u-container-align-center u-group-elements u-valign-middle u-group-elements-1"
                  >
                    <span
                      class="u-align-center u-file-icon u-icon u-icon-1"
                      data-href="https://github.com/Abdelrahman776"
                      data-target="_blank"
                      ><img src="images/919847.png" alt=""
                    /></span>
                    <div class="u-social-icons u-spacing-20 u-social-icons-1">
                      <a
                        class="u-social-url"
                        target="_blank"
                        data-type="Custom"
                        title="Custom"
                        href="https://www.linkedin.com/in/abdelrahmannkamal/"
                        ><span
                          class="u-icon u-social-custom u-social-icon u-text-white u-icon-2"
                          ><svg
                            class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice"
                            viewBox="0 0 512 512"
                            style=""
                          >
                            <use
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              xlink:href="#svg-e620"
                            ></use></svg
                          ><svg
                            class="u-svg-content"
                            viewBox="0 0 512 512"
                            id="svg-e620"
                          >
                            <path
                              d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0"
                            ></path></svg
                        ></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-25 u-line-1"
        ></div>
        <p
          class="u-align-center u-small-text u-text u-text-body-alt-color u-text-variant u-text-3"
        >
          ©2024 This website is designed and developed by Abdelrahman Kamal —
        </p>
      </div>
    </footer>
  </body>

